/* **********************STATIC VARABILES********************** */
$colorSelection: 'primary', 'secondary', 'coldefault';

$slider-colors: (
    "primary":#3F51B5,
    "secondary": #F50057,
    "coldefault": #BDBDBD
);
$slider-variant: (
    'vardefault': 'default',
    'percentage':'per',
    'numbered': 'num'
);
/* **********************MIXINS********************** */
/* THUMB STYLE*/
@mixin thumbBorder($shade){
    &:hover{
        transition: outline .2s linear;
        outline: rgba($shade,.5) 2px solid;
    }
    &:active{
        transition: outline .2s linear;
        outline: rgba($shade,.5) 4px solid;
    }
}
@mixin thumb($color){
    &::-webkit-slider-thumb{
        background: $color;
            -webkit-appearance: none;
            height:12px;
            width:12px;
            border-radius:25px;
            position: relative;
            top: -4.5px;
            z-index:99999;
        @include thumbBorder($color);
    }
    &::-moz-range-thumb{
        background: $color;
            -webkit-appearance: none;
            height:12px;
            width:12px;
            border-radius:25px;
            position: relative;
            top: -4.5px;
            @include thumbBorder($color);
    }
    &::-ms-thumb{
        background: $color;
            -webkit-appearance: none;
            height:12px;
            width:12px;
            border-radius:25px;
            position: relative;
            top: -4.5px;
            @include thumbBorder($color);
    }
}
/* TRACK */
@mixin track(){
    &::-webkit-slider-runnable-track{
        
            -webkit-appearance: none;
            height:2px;
            width:100%;
            border-radius:25px;
    }
    &::-moz-range-track{
        -webkit-appearance: none;
            height:2px;
            width:100%;
            border-radius:25px;
    }
    &::-ms-track{
        -webkit-appearance: none;
            height:2px;
            width:100%;
            border-radius:25px;
    }
}
@mixin progressbar($pick){
    @for $i from 1 to 101{
        $temp: ($i*1%)+1%;
        
        &.progress-#{$i}{
            &::-webkit-slider-runnable-track{
    background:linear-gradient(to right, #{$pick} 0%, #{$pick} #{$temp}, rgba($pick,.6) #{$temp}, rgba($pick,.6) 100%);}
        }
    }
}
/* STYLE MIXER*/
@mixin style($color){
    $chosen: map-get($slider-colors, $color);
    .#{$color}{
        @include thumb($chosen);
        @include track();
        @include progressbar($chosen);
    }
   
}
/* **********************CSS CLASSES********************** */
.slider{
    -webkit-appearance: none;
    background: transparent;
    width: 150px;
    position:relative;
    z-index:1;
    
                
    
}

/* **********************BULK CLASS RENDER********************** */
@each $sel in $colorSelection{
    
    @include style($sel);

}

/* TICKER */

.ticker-container {
    position: relative;
    top: -3.5px;;
    height:25px;
    width:150px;
    display:flex;
    justify-content:space-evenly;
    z-index:2;
    &>.ticks{
        height:1px;
        width:1px;
        background:blue;
        border:0;
        
    }
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}